.promo{
 margin-bottom: 30px;
}
.box.box-dark {
    background: #444;
    color: #fff;
}
.section-heading{
    font-weight: 300;
    line-height: 2;
    font-size: 24px;
    color: #fff;
    padding-left: 20px;
}
.section-txt{
    font-weight: 300;
    line-height: 2;
    font-size: 14px;
    color: #fff;
    padding-left: 20px;
}
.btn-cta{
background: #1B68AB;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 1.33;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #1B68AB;
}
.news{
    margin-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    background: #f5f5f5;
    overflow: hidden;
    margin-bottom: 30px;
}


.line{
        margin-left: 15px;
    border-top: 2px solid #1B68AB;
    display: inline-block;
    padding-left:15px;
    padding-top: 5px;
    font-size: 22px;
    font-weight: 300;
    line-height: 2;
    margin-top: 0;
    color: #2f506c;
}
.news-item {
    padding-left: 115px;
    position: relative;
    margin-bottom: 20px;
}
h2.title {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 5px;
}
.thumb {
    position: absolute;
    left: 0;
    top: 0;
       vertical-align: top;
    max-width: 100%;
}



.read-more .fa {
    position: relative;
    top: 1px;
    margin-left: 5px;
}
iframe{
    border: none;
}
h2.title {
    margin-bottom: 20px;
    font-size: 16px;
}
.section-event {
    background: #f5f5f5;
    overflow: hidden;
    margin-bottom: 30px;
}
.event-item {
    position: relative;
    padding-left: 55px;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 10px;
    margin-bottom: 25px;
}
.date-label {
    background: #fff;
    position: absolute;
    left: 0;
}
.month {
    background: #1B68AB;
    color: #fff;
    display: block;
    font-size: 13px;
    text-transform: uppercase;
    padding: 5px;
}
 .date-number {
    clear: left;
    display: block;
    padding-top: 5px;
    font-size: 15px;
    font-family: 'open sans', arial, sans-serif;
    font-weight: 500;
    padding-left: 7px;
    padding-bottom: 5px;
}
.container{
    padding-right: 0px;
    padding-left: 0px;
}
.row {
    margin-right: -25px;
    margin-left: 0px;
}